<h1>Listing Directions</h1>

<% @directions.each do |direction| %>
  <div>Direction #<%= direction.id %></div>
  <div><%= direction.origin %></div>
  <div><%= direction.destination %></div>
  <div><%= direction.mode %></div><br><br>
<% end %>



<div><%= link_to 'New Direction', new_user_direction_path %></div>
