<h1>This is Direction #<%= @direction.id %></h1><br>

<h3>
	From:<div id='dir-origin'><%= @direction.origin %></div>
	To:<div id='dir-destination'><%= @direction.destination %></div>
	By:<div id='dir-mode'><%= @direction.mode %></div>
	<div id='dir-distance'>Distance: <%= @direction.distance %></div>
	<div id='dir-duration'>Duration: <%= @direction.duration %></div>
</h3>


<%= link_to 'Back to Directions', user_directions_path %>
<%= render 'map' %>


