<p id="notice"><%= notice %></p>

<h1>Hello~</h1><br>

<div><img src= "<%= @user.image %>" ></div>
<div><%= @user.email %></div><br>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Directions', user_directions_path(@user) %> 



